KEYCLOAK_CLIENT_ID=avonet-web-client
KEYCLOAK_CLIENT_SECRET=BkPis4ko85jdBuiWc2bbWwKMRN8SFCjB
KEYCLOAK_CLIENT_ISSUER=http://localhost:8080/realms/surge
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
NEXTAUTH_SECRET=abcdefghijklmnopqrstuvwxyz1234567890